/.venv/
/dist/
/htmlcov/
/build/
/src/xp.egg-info/
/pdm.lock
/.pdm-python
.coverage
accessory.state
cli*.yml
server.yml
conson.yml*
homekit.yml*
rp.yml
logger.yml
.idea/workspace.xml
coverage.xml
log/
conbus.log*

# Cache directory
/.cache/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
/interrogate_badge.svg
/protocol.yml
/*.pid
