/.venv/
/dist/
/htmlcov/
/build/
/src/xp.egg-info/
/pdm.lock
/.pdm-python
.coverage
accessory.state
cli*.yml
server.yml
conson.yml
homekit.yml
rp.yml
.idea/workspace.xml
coverage.xml

# Python cache files
__pycache__/
*.py[cod]
*$py.class
