homekit:
  ip: 0.0.0.0
  port: 51826

conson:
  ip: 127.0.0.1
  port: 10001

bridge:
  name: "Maison"
  rooms:
    - name: "Salon"
      accessories:
      - lumiere_salon
      - lumiere_salle_a_manger
      - lumiere_cuisine
      - prise_salon
      - prise_couloir_cuisine
      - prise_couloir_cuisine_2
      - lumiere_blacon

    - name: "Chambre1"
      accessories:
      - lumiere_chambre1
      - prise_chambre1

    - name: "Chambre2"
      accessories:
      - lumiere_chambre2
      - prise_chambre2

    - name: "Parents"
      accessories:
      - lumiere_dressing
      - lumiere_parents
      - lumiere_mirroir_douche
      - lumiere_douche
      - prise_parents_1
      - prise_parents_2

    - name: "Divers"
      accessories:
      - lumiere_couloir
      - lumiere_entree
      - lumiere_mirroir_sdb
      - lumiere_sdb
      - prise_all
      - prise_na

accessories:

  - name: lumiere_chambre1
    id: A4R1
    serial_number: "0012345004"
    output_number: 0
    description: Chambre1
    service: lightbulb

  - name: lumiere_salon
    id: A4R2
    serial_number: "0012345004"
    output_number: 1
    description: Salon
    service: lightbulb

  - name: lumiere_salle_a_manger
    id: A4R3
    serial_number: "0012345004"
    output_number: 2
    description: Salle à manger
    service: lightbulb

  - name: lumiere_cuisine
    id: A4R4
    serial_number: "0012345004"
    output_number: 3
    description: Cuisine
    service: lightbulb

  - name: prise_salon
    id: A5R2
    serial_number: "0012345005"
    output_number: 1
    description: Salon
    service: outlet

  - name: lumiere_couloir
    id: A5R1
    serial_number: "0012345005"
    output_number: 0
    description: Couloir cuisine
    service: lightbulb

  - name: prise_couloir_cuisine
    id: A5R3
    serial_number: "0012345005"
    output_number: 2
    description: Couloir cuisine 1
    service: outlet

  - name: prise_couloir_cuisine_2
    id: A5R4
    serial_number: "0012345005"
    output_number: 3
    description: Couloir cuisine 2
    service: outlet

  - name: lumiere_dressing
    id: A6R1
    serial_number: "0012345006"
    output_number: 0
    description: Dressing
    service: lightbulb

  - name: lumiere_mirroir_douche
    id: A6R2
    serial_number: "0012345006"
    output_number: 1
    description: Mirroir Douche
    service: lightbulb

  - name: lumiere_parents
    id: A6R3
    serial_number: "0012345006"
    output_number: 2
    description: Parents
    service: lightbulb

  - name: lumiere_blacon
    id: A6R4
    serial_number: "0012345006"
    output_number: 3
    description: Balcon 1
    service: lightbulb

  - name: lumiere_douche
    id: A7R1
    serial_number: "0012345007"
    output_number: 0
    description: Douche
    service: lightbulb

  - name: prise_parents_1
    id: A7R2
    serial_number: "0012345007"
    output_number: 1
    description: Parents 1
    service: outlet

  - name: prise_parents_2
    id: A7R3
    serial_number: "0012345007"
    output_number: 2
    description: Parents 2
    service: outlet

  - name: prise_na
    id: A7R4
    serial_number: "0012345007"
    output_number: 3
    description: Prise NA
    service: outlet

  - name: lumiere_entree
    id: A8R1
    serial_number: "0012345008"
    output_number: 0
    description: Entrée
    service: lightbulb

  - name: lumiere_mirroir_sdb
    id: A8R2
    serial_number: "0012345008"
    output_number: 1
    description: Mirroir salle de bain
    service: lightbulb

  - name: lumiere_sdb
    id: A8R3
    serial_number: "0012345008"
    output_number: 2
    description: Salle de bain
    service: lightbulb

  - name: lumiere_chambre2
    id: A8R4
    serial_number: "0012345008"
    output_number: 3
    description: Chambre2
    service: lightbulb

  - name: prise_all
    id: A4A1
    serial_number: "0012345004"
    output_number: 0
    description: Prise All
    service: outlet

  - name: prise_chambre2
    id: A9R1
    serial_number: "0012345009"
    output_number: 0
    description: Prise Chambre2
    service: outlet

  - name: prise_chambre1
    id: A9R2
    serial_number: "0012345009"
    output_number: 1
    description: Prise Chambre1
    service: outlet
